*.so
*.o
*~
*.obj
*.dll
*.bak
*.lib
*.exp
*.exe
*.hex
*.gch
*.out
*.ilk
*.pdb
bin/
*.pnproj

Debug/
*.*sdf
*.filters
*.user
*.suo
*lastcodeanalysissucceeded

utils/test/test
utils/loop/loop
utils/r2f/r2f
